<h1><%= @ancestry.name %></h1>
<%= link_to "Update #{@ancestry.name}", "/ancestries/#{@ancestry.id}/edit", method: :get %>
<p>ID: <%= @ancestry.id %></p>
<p>Darkvision: <%= @ancestry.darkvision %></p>
<p>Population: <%= @ancestry.population %></p>
<p>Patron Deity: <%= @ancestry.patron_deity %></p>
<p>Nation ID:<%= @ancestry.nation_id %></p>
<p>Created at: <%= @ancestry.created_at %></p>
<p>Updated at: <%= @ancestry.updated_at %></p>