<h1>Update</h1>
# <%= form_with url: '/nations', method: :post, local: true do |form| %>
#   <%= form.label :name %>
#   <%= form.text_field :name %>

#   <%= form.label :landlocked %>
#   <%= form.text_field :landlocked %>

#   <%= form.label :population %>
#   <%= form.text_field :population %>

#   <%= form.label :national_language %>
#   <%= form.text_field :national_language %>

#   <%= form.submit "Create Nation" %>
# <% end %>