<h1><%= @nation.name %></h1>
<p>ID: <%= @nation.id %></p>
<p>Landlocked: <%= @nation.landlocked %></p>
<p>Population: <%= @nation.population %></p>
<p>National Language: <%= @nation.national_language %></p>
<p>Created at: <%= @nation.created_at %></p>
<p>Updated at: <%= @nation.updated_at %></p>
<p>Ancestry count: <%= @ancestries_count %> </p>